*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: 'Nunito';
}
header{
    background-color: #EDE0D4;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    gap: 2vw;
}
.header_logo{
    width: 20vw;
    height: auto;
    object-fit: contain;
}
.searchbarInput{
    width: 20vw;
    padding: 2vh 2vw;
    border-radius: 20vw;
    border-color: transparent;
}

.header_navbar ul{
    display: flex;
    justify-content: center;
    gap: 3vw;
    list-style-type: none;
}
.header_navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

.searchbarInput{
    width: 20vw;
    padding: 2vh 2vw;
    border-radius: 20vw;
    border-color: transparent;
}
.hamburger{
    display: none;
}
.search_icon{
    display: none;
}
.intro_gastronomy{
    width: 100vw;
    min-height: 85vh;
    background-image: url('/image/gastronomyMain.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_gastronomy{
    width: 90%;
    max-width: 1200px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;
}
.container_gastronomy span{
    font-size: 8vw;
    color: #EDE0D4;
    font-family: 'Aclonica';
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}
.containerDescription_gastronomy{
    width: 90%;
    max-width: 1000px;
    background-color: #97633DBF;
    padding: 2vw;
    display: flex;             
    align-items: center;
    justify-content: center;
}
.containerDescription_gastronomy p{
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 0;
    font-size: 1em;
    line-height: 1.6;
}

@media (max-width:768px) {
    /* header mobile */
    .header_navbar{
        display: none;
    }
    .searchbarInput{
        display: none;
    }
    .hamburger{
        position: relative;
        width: 8vw;
        display: block;
        order: -1;
    }
    .hamburger summary{ 
        font-size: 8vw;
        display: flex;
        cursor: pointer;

    }
    .mobile_menu ul{
        display: flex;
        gap: 5vw;
        padding-left: 10vw;
        list-style: none;
        padding-top: 10vw;
    }
    .mobile_menu a{
        font-size: 3.5vw;
        text-decoration: none;
        color: black;
    }
    .header_logo{
        order: 1;
        height: 100%;
        width: 40vw;
    }
    .search_icon{
        display: block;
        width: 5vw;
        height: 5vh;
        order: 2;
    }
    header{
        height: auto;
        padding: 2vh 5vw;
    }
    /* first section mobile */
    .intro_gastronomy{
        height: auto;
        max-height: 85vh;
        background-size:cover;
        background-position: center top;
        background-attachment: scroll;
        background-repeat: no-repeat;
        padding: 5vh 0;
    }
    .container_gastronomy span{
        font-size: 12vw;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }
    .containerDescription_gastronomy{
        max-height: 30vh;
    }
    .containerDescription_gastronomy p{
        font-size: 0.8em;
    }
}
