@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    width: 100%;
}

/* header */

header{
    font-family: 'nunito';
    background-color: #EDE0D4;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    gap: 2vw;
}
.header_logo{
    width: 20vw;
    height: auto;
    object-fit: contain;
}
.searchbarInput{
    width: 15vw;
}

.header_navbar ul{
    display: flex;
    justify-content: center;
    gap: 3vw;
    list-style-type: none;
}
.header_navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

.searchbarInput{
    width: 20vw;
    padding: 2vh 2vw;
    border-radius: 20vw;
    border-color: transparent;
}
.hamburger{
    display: none;
}
.search_icon{
    display: none;
}

@media (max-width:768px) {
    .header_navbar{
        display: none;
    }
    .searchbarInput{
        display: none;
    }
    .hamburger{
        position: relative;
        width: 8vw;
        
        display: block;
        order: -1;
    }
    .hamburger summary{ 
        font-size: 8vw;
        display: flex;
        cursor: pointer;

    }
    .mobile_menu ul{
        display: flex;
        gap: 5vw;
        padding-left: 10vw;
        list-style: none;
        padding-top: 10vw;
    }
    .mobile_menu a{
        font-size: 3.5vw;
        text-decoration: none;
        color: black;
    }
    .header_logo{
        order: 1;
        height: 100%;
        width: 40vw;
    }
    .search_icon{
        display: block;
        width: 5vw;
        height: 5vh;
        order: 2;
    }
    header{
        height: auto;
        padding: 0vh 5vw;
    }
}

/* 1st section */
.introduction-content {
    width: 100%;
    background-image: url(image/Home-Page-Intro.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}


.introduciton-title{
    color: #e6ccb2f1;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: 'Aclonica';
}

.title{
        text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
    .introduction-content{
        margin: -10px 0;
        width: 100%;
        height: auto;

    }
    .introduciton-title{
        font-size: 50px;
    }
}


/* 2nd section */
.about-container {
    background: whitesmoke;
    width: 100%;
    height: 150vh;
}


.about-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;
}
.title-box {
    width: 125px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'nunito';
    background-color:white ;
    color: #AEAEAE;
    border: 2px solid #EDE0D4;
    border-radius: 30px;
}

.about-title {
    grid-column: 1/2;
    grid-row: 5/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-heading {
    grid-column: 2/3;
    grid-row: 5/9;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    font-size: 45px;
    font-weight: bold;    
    font-family: 'nunito';
}


.about-description {
    grid-column: 3/3;
    grid-row: 7/11;
    display: flex;
    align-items: flex-start;
    width: 80%;
    color: #656565;
    font-family: 'nunito';
    font-size: 15px;
}

.about-btn {
    grid-column: 3/4;
    grid-row: 10/10;
    display: flex;
    align-items: center;
}

.about-btn button {
    width: 125px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'nunito';
    background-color:#DDB892 ;
    color: black;
    border: 2px solid #EDE0D4;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .about-container {
        height: 80vh;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .about-title {
        width: 100%;
        padding-right: 200px;
    }
    .about-heading {
        font-weight: bold;
        padding: 0 30px;
    }
    .about-description {
        width: 90%;
    }
    .about-btn button {
        width: 250px;
    }
}
/* section 3 */

.ecrituresurimg{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    color: #EDE0D4;
    font-size: larger;
    background-image: url(image/gastronomie-sec-img.png);
}
.ecrituresurimg div h4{
    font-size: 27vh;
    margin: 0;

}
.ecrituresurimg div{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    font-family: 'aclonica';
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 4);
}

.bouton{
    color: #EDE0D4;
    background-color: rgba(127, 85, 57, 0.5);
    height: 10VH;
    width: 20%;
    border-radius: 7VH; 
    margin-top: 5vh;
    border: 1px solid #7F5539;
    font-size: 25px;
}