.footer {
    background-color: #D9D9D9; 
    padding-left: 10%; 
    padding-right: 10%; 
    padding-bottom: 1%; 
}

.logo {
    display: flex; 
    align-items: center; 
    font-size: 112%; 
    color: black; 
    margin-bottom: 20px; 
}

.logo::after,
.logo::before {
    content: "";
    flex: 1; 
    border-top: 1px solid black; 
}
.copyright {
    text-align: center; 
    padding-top: 5%; 
    font-size: 0.8em; 
     
}

.spcfoter {
    display: flex; 
    justify-content: space-around; 
    margin-bottom: 20px;
}



.spcfoter li {
    margin: 10px 0; 
    text-align: center; 
    padding-top: 30px;
}

.spcfoter a {
    text-decoration: none; 
    color: black; 
    transition: color 0.3s; 
}

.spcfoter a:hover {
    color: #007BFF; 
}
